<div class="expansion-container">
  <div class="post">
    <div class="content">
      <div class="stream-item-header">
        <a class="account-group">
          <img class="avatar" src="<%= avatar_url %>" alt="<%= name %>">
          <strong class="fullname"><%= name %></strong>
          <span class="username"><s>@</s><b><%= nickname %></b></span>
        </a>
        <small class="time">
          <a href="" class="post-timestamp" title="<%= created_at %>"><time class="timestamp" datetime="<%= created_at %>"></time></a>
        </small>
      </div>
      <p class="post-text"><%= text %></p>
    </div>
  </div>
</div>
